@charset "UTF-8";

@font-face {
  font-family: "galileo";
  src:url("../../fonts/galileo.eot");
  src:url("../../fonts/galileo.eot?#iefix") format("embedded-opentype"),
url("/Act+Inf/Base_actividad/Sidebar/Shows/fonts/galileo.woff") format("woff"),
url("../../fonts/galileo.ttf") format("truetype"),
url("../../fonts/galileo.svg#galileo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "galileo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "galileo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ios-location:before {
  content: "\63";
}
.icon-waves:before {
  content: "\62";
}
.icon-cutlery:before {
  content: "\64";
}
.icon-male:before {
  content: "\65";
}
.icon-fork:before {
  content: "\61";
}
.icon-cup:before {
  content: "\66";
}
.icon-phone:before {
  content: "\67";
}

