@charset "UTF-8";


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #333;
    background-image: -webkit-linear-gradient(325deg, #07051A 0%, #5342B2 53%, #C86DD7 120%);
    background-image: linear-gradient(125deg, #07051A 0%, #5342B2 53%, #C86DD7 120%);
    height: 100%;
    background-color: #5342B2;
    background-size: cover;
    background-attachment: fixed;
    cursor: default;
}
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    background-color: #110e2d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #54BFB5;
    display: block;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding-top: 112px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    min-height: 100%;
}
html {
    height: 100%;
}
.main_button {
    position: fixed;
    top: 10px;
    left: 15px;
    cursor: grab;
    z-index: 99;
}
.actitivie_box {
    position: relative;
    background-image: url(../../assets/activities/f033ab37c30201f73f142449d037028d.jpg);
    background-position: center center;
    background-size: cover;
}
.relative {
    position: relative;
}
.activitie_content {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.71) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.71) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.71) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.71) 100%);
    height: 100%;
    padding-bottom: 200%;
    position: relative;
    max-height: 400px;
}
.info_activitie_box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.total_activitie_box {
}
.button_form_blue {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #54C0B5;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}
.button_form_blue:hover {
    background-color: #286D66;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

.button_form_red {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #E80851;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;

}
.button_form_red:hover, .button_form_red:active, .button_form_red:visited {
    background-color: #9C0536;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.add_activity {
    display: block !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    position: absolute !important;
    background-color: rgba(0,255,213,0.63);
    text-align: center;
    padding-top: 100%;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.add_activity:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(97,255,227,0.81);
}
.button_edit_box {
    padding-left: 10px;
    padding-right: 10px;
}
.place_activity {
    font-size: 23px;
    line-height: 23px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.61);
    padding-bottom: 25px;
    padding-left: 39px;
    height: 80px;
}
.type_activity_content {
    font-size: 17px;
    text-transform: uppercase;
    line-height: 25px;
    padding-left: 42px;
}
.type_activity {
}
.hour_activity {
    text-transform: uppercase;
    padding-bottom: 5px;
}
.hour_activity_content {
    padding-left: 40px;
    font-size: 25px;
}
.clock_icon {
    float: left;
    margin-left: -39px;
    margin-top: 4px;
    color: #F28F46;
    font-size: 26px;
}
.icon_pointer {
    float: left;
    margin-left: -41px;
    font-size: 34px;
    margin-top: 5px;
    color: #F28F46;
}
.type_icon {
    float: left;
    margin-top: -3px;
    color: #F28F46;
    font-size: 31px;
}
.white_text {
    color: #FFFFFF;
    font-family: 'museo_slab300';
    font-size: 28px;
}
.logo_box {
    width: 101px;
    background-color: #FFFFFF;
    height: 94px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0px;
    z-index: 98;
    -webkit-box-shadow: 4px 5px 7px 3px rgba(0,0,0,0.44);
    box-shadow: 4px 5px 7px 3px rgba(0,0,0,0.44);
}
.place_activity_content {
    font-family: 'museo_slab300';
    color: #FFFFFF;
}
.name_activity_esp {
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 9px;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.63);
    font-size: 21px;
    line-height: 22px;
}
.name_activity_eng {
    font-size: 21px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F28F46;
    width: 100%;
    padding-bottom: 15px;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.63);
}
.name_activity {
    padding-left: 10px;
}
.header {
    background-color: rgba(0,0,0,0.39);
    height: 44px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 97;
    text-align: right;
}
.logout_button {
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(250,81,136,1.00);
    color: rgba(255,255,255,1.00);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.logout_button:hover {
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(96,3,132,1.00);
    color: rgba(255,255,255,1.00);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.update_button {
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(233,113,27,1.00);
    color: rgba(255,255,255,1.00);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.update_button:hover {
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(153,72,14,1.00);
    color: rgba(255,255,255,1.00);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

    /*-----------dropdown animation------------*/

/*.dropdown .dropdown-menu{
    display: block;
    opacity: 0;

    -moz-transition:    all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    -o-transition:      all 1000ms ease;
    -ms-transition:     all 1000ms ease;
    transition:         all 1000ms ease;
}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}*/

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}
#day_selected {
    background-color: transparent;
    color: rgba(255,255,255,1.00);
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right 7px;
    background-size: 17px auto;
    outline: none;
    padding-right: 22px;
}
.day_box {
    display: inline-block;
    background-color: rgba(108,16,224,1.00);
    height: 44px;
    line-height: 44px;
    padding-right: 10px;
    padding-left: 15px;
}
.day_box:hover {
    background-color: rgba(60,9,126,1.00);
}

.day_prom_week {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    width: 0px;
    height: 0px;
}
.vertical-text {
    transform: rotate(-90deg);
    transform-origin: right bottom;
    display: inline-block;
    background-color: #531C51;
    color: #FFFFFF;
    font-family: 'museo_slab300';
    font-size: 30px;
    padding-top: 9px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
    margin-top: -55px;
    text-shadow: 2px 3px 2px rgba(0,0,0,0.39);
    line-height: 39px;
    text-transform: uppercase;
}
.vertical-text {
    float: right;
}
.tittle_rest {
    color: #AAAAAA;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px !important;
}
.text_rest {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px !important;
    margin-left: 0px;
}
.edit_rest_button {
    color: #54C0B5;
    font-size: 25px;
    margin-top: 0px;
    margin-right: 3px;
    margin-left: 3px;
}
.edit_rest_button:hover {
    color: #01EAD4;
    margin-top: 0px;
    margin-right: 3px;
    margin-left: 3px;
}
.red_icon {
    color: #EC1E79;
}
.red_icon:hover {
    color: #FF2D87;
}
.center_button {
    text-align: center;
}
.caps {
    text-transform: uppercase;
}
.reserve_box {
    background-color: #F37105;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    float: left;
    display: inline-block;
    margin-right: 13px;
}
.add_restaurant {
    display: inline-block;
    background-color: #D20587;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    text-transform: uppercase;
}
.add_restaurant:hover{
    background-color: #7A0F5F;    
}
.add_restaurant_box {
    text-align: right;
    padding-bottom: 11px;
}

.btable_green{
  --bTableHeaderBgColor: #F8961D;
  --bTableHeaderTextColor: #fff;
}

.btable_aqua{
  --bTableHeaderBgColor: #12ADB3;
  --bTableHeaderTextColor: #fff;
}
          
.btable_blue{
  --bTableHeaderBgColor: #002643;
  --bTableHeaderTextColor: #fff;
}  
          
.btable_pink{
  --bTableHeaderBgColor: #E41E78;
  --bTableHeaderTextColor: #fff;
} 

.btable_purple{
  --bTableHeaderBgColor: #531C51;
  --bTableHeaderTextColor: #fff;
} 
.show_name {
    font-size: 30px;
    line-height: 30px;
    padding-left: 27px;
}
.place_show_box {
    height: auto;
    padding-bottom: 10px;
}
.pointer_show {
    margin-top: -2px;
}
.dates_rates_box {
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}
.dates_link {
    color: #E31E77;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.dates_link:hover {
    color: #5D05D0;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.bycom_logo {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.logo_delamora {
    width: 90%;
    height: auto;
    margin-left: -31px;
}
.no_access {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
}
.dates_rates_box {
    color: #E31E77;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.tittle_promo_es {
	text-transform: uppercase;
	line-height: 20px;
	padding-top: 12px;
	font-size: 18px;
}
.tittle_promo_en {
	text-transform: uppercase;
	line-height: 20px;
	color: #AAAAAA;
	padding-bottom: 3px;
	font-size: 18px;
}
.promo_es_text {
	text-transform: uppercase;
	line-height: 20px;
	padding-top: 12px;
}

.promo_en_text {
	text-transform: uppercase;
	line-height: 20px;
	color: #AAAAAA;
}
.final_promo_pic {
	width: 70%;
	height: auto;
}
.from_promo {
	display: inline-block;
	width: 45px;
	color: #AAAAAA;
}

@media screen and (min-width:769px){
.dates_rates_box {
}
    .btable__cell {
    width: 20%;
}

}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width:767px){

.place_activity {
    height: auto;
    min-height: 80px;
}
}
